body {
    background-image: url(alap.jpg);
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 30%;
    margin-right: 30%;
    color:#333333;
}


#body {
    margin: auto;
    width: 90%;
}

hr {
    border: none;
    background-color: #555555;
    border-radius: 10px;
    height: 8px;
}

#igazitas{
    margin-left: 50px;
}

#igazitas2{
    float: right;
    width: 10%;
}


li{
    margin-left: 100px;
}

